{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center flex-justify-center mb-3' %}
{% endif %}

{% if avatar_src %}
  <img src="{{ avatar_src }}" alt="{{ user.name }}" width="150" height="150" class="circle mb-3" style="object-fit: cover;">
{% endif %}

{% if user.name and user.name != "" %}
  <h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{{ user.name }}</h1>
{% endif %}

{% if user.position and user.position != "" %}
  <p class="d-flex flex-items-center flex-justify-center mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    {% octicon briefcase height:20 class:"mr-2 v-align-middle flex-shrink-0" fill:{{ icon_color }} aria-label:Position %}
    <span>{{ user.position }}</span>
  </p>
{% endif %}

{% if user.sidebar_bio and user.sidebar_bio != "" %}
  <p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    {{ user.sidebar_bio }}
  </p>
{% endif %}

{% if include.metadata %}
  {% assign metadata_present = false %}
  {% if user.email and user.email != "" %}
    {% assign metadata_present = true %}
  {% endif %}
  {% if user.location and user.location != "" %}
    {% assign metadata_present = true %}
  {% endif %}
  {% if user.google_scholar != nil %}
    {% assign metadata_present = true %}
  {% endif %}
  {% if site.social_media %}
    {% assign metadata_present = true %}
  {% endif %}

  {% if metadata_present %}
    <div class="f4 mb-6">
      {% if user.google_scholar != nil %}
        <div class="{{ metadata_styles }}">
          {% if user.google_scholar != "" %}
            <a href="{{ user.google_scholar }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">
          {% else %}
            <span class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
          {% endif %}
              <svg width="20" height="20" viewBox="0 0 24 24" class="mr-2 v-align-middle" fill="{{ icon_color }}" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <path d="M5.242 13.769L0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z"/>
              </svg>
              Google Scholar
          {% if user.google_scholar != "" %}
            </a>
          {% else %}
            </span>
          {% endif %}
        </div>
      {% endif %}
      {% if user.email and user.email != "" %}
        <div class="{{ metadata_styles }}">
          {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
          <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
            junhui.gao [AT] my.cityu.edu.hk
          </a>
        </div>
      {% endif %}
      {% if user.location and user.location != "" %}
        <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
          {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
          {{ user.location }}
        </div>
      {% endif %}
      {% if site.social_media %}
        <div class="d-flex flex-wrap flex-items-start flex-justify-center {% if site.layout == 'stacked' %}mt-1 mt-md-3{% endif %}">
          {% for account in site.social_media %}
            <div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">
              {% assign service_shortname = account[0] %}
              {% assign service = site.data.social_media[service_shortname] %}
              <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
                {{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}

{% unless site.layout == 'stacked' %}
  <div class="institution-logos">
    <div class="institution-logo">
      <img src="{{ '/assets/images/npu_logo.jpg' | relative_url }}" alt="Northwestern Polytechnical University logo">
    </div>
    <div class="institution-logo">
      <img src="{{ '/assets/images/ciytu_logo.jpg' | relative_url }}" alt="City University of Hong Kong logo">
    </div>
  </div>
{% endunless %}
